<!DOCTYPE html PUBLIC 
 "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta http-equiv="content-type"
        content="text/html; charset=UTF-8" />
  <title>Crear fase</title>
</head>
<body>
    ${sidebar_top()}
  <div>
    <h2>Crear Fase</h2>
    
    <form method="post" action="/crearFase/${proy_id}">

	<table>
	  <tr><td>Nombre: </td><td><input type="textfield" name="nombre" value="${nombre}"/>${tmpl_context.form_errors.get('nombre')}</td></tr>
	  <tr><td>Descripcion: </td><td> <textarea name="descripcion" rows="5" cols="30">${descripcion}</textarea></td></tr>
       
  	</table> <br />

	<p>
        <input type="submit" value="Guardar" />
	</p>

    </form>
  </div>
  <div class="clearingdiv" />
</body>
</html>
