<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
                      "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta content="text/html; charset=UTF-8" http-equiv="content-type" py:replace="''"/>
  <title> Definicion de fases </title>
</head>

<body>
  <div style="height:0px;"> &nbsp; </div>
  <div id="definicion_fases-index">
    <div style="float:left width: 80%">
      <h2 style="margin-top:1px;"> Proyecto "${proyecto.nombre}"</h2>
      <h3 style="margin-top:1px;"> -Definicion de fases-</h3>

      <table class="roles-listado">
        <thead>
            <tr>
	      <th>Codigo</th>
	      <th>Nombre</th>
	      <th>Estado</th>
	      <th>Fecha</th>
	    </tr>
        </thead>

        <tbody>
          <tr>
	    <th class="proyecto-codigo">${proyecto.codproyecto}</th>
            <td class="proyecto-nombre">${proyecto.nombre}</td>
            <td class="proyecto-estado">${proyecto.estado}</td>
	    <td class="proyecto-fecha">${proyecto.fecha}</td>
	  </tr>
        </tbody>
	</table>

	<a href="/NuevaFase/${proyecto.codproyecto}">Nueva Fase</a>
	<table class="roles-listado">
        <thead>
            <tr>
	      <th>Editar</th>
	      <th>Eliminar</th>
	      <th>Codigo</th>
	      <th>Nombre</th>
	      <th>Descripción</th>
	      <th>Estado</th>
	      <th>Fecha</th>
            </tr>
        </thead>

        <tbody>
          <tr py:for="i, fase in enumerate(fases)" class="${i%2 and 'even' or 'odd'}">
	    <th> <a href="/EditarFase/${proyecto_id}/${fase.codfase}">Editar</a> </th>
	    <th> <a href="/EliminarFase/${proyecto_id}/${fase.codfase}">Eliminar</a></th>
	    <th class="fase-codigo">${fase.codfase}</th>
            <td class="fase-nombre">${fase.nombre}</td>
            <td class="fase-descripción">${fase.descripcion}</td>
	    <td class="fase-estado">${fase.estado}</td>
	    <td class="fase-fecha">${fase.fecha}</td>
	  </tr>
        </tbody>
	</table>
  </div>
  </div>
  <div class="clearingdiv" />
</body>
</html>
