<!DOCTYPE html PUBLIC 
 "-//W3C//DTD XHTML 1.0 Transitional//EN"
 "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">

  <xi:include href="master.html" />

<head>
  <meta http-equiv="content-type"
        content="text/html; charset=UTF-8" />
  <title>Eliminar antecesor</title>
</head>
<body>
    ${sidebar_top()}
  <div>
    <h2>Eliminar antecesor</h2>
    
    <form method="post" action="/eliminarAntecesor/${proyecto_id}/${fase_id}/${item.coditem}">

	<table>
	  <tr><th> Código</th><td>: ${item.coditem}</td></tr>
	  <tr><th> Nombre</th><td>: ${item.nombre}</td></tr>
	  <tr><th> Version</th><td>: ${item.version}</td></tr>
	  <tr><th> Fase</th><td>: Fase ${item.fase.orden}</td></tr>
  	</table> <br />
	
	<py:if test="not antecesores">
	   <tr><td><h3  align="center">EL ITEM NO TIENE ANTECESORES</h3></td></tr>
	</py:if>

	<py:if test="antecesores">
	<!-- ANTECESORES ACTUALES -->
	<table>
	 <thead>
	  <tr><td><label><b><i>Sus Antecesores actuales (Fase ${item.fase.orden-1})</i></b></label></td></tr>
	 </thead>
	 <tbody>	
	  <py:for each="antecesor in antecesores">
	   <tr><td>$antecesor.nombre - v$antecesor.version</td></tr>
	  </py:for>
	 </tbody>
	</table><br/>
	
	<label>Seleccione un antecesor a eliminar:</label>
	<table>
	<tr><td><select name='antecesor'>
	    <py:for each="antecesor in antecesores"> $antecesor.nombre
                <option value="$antecesor.coditem">$antecesor.nombre v$antecesor.version</option>
            </py:for>
        </select></td></tr>
	</table>
	</py:if>

	<p>
        <py:if test="not antecesores"><input type="submit" name="aceptar" value="Aceptar" /></py:if>
	<py:if test="antecesores"><input type="submit" name="guardar" value="Eliminar relación" /></py:if></p>
	

    </form>
  </div>
  <div class="clearingdiv" />
</body>
</html>
